<div id="middcontent" class='container fill'>
    <div class='row'>
                <router-outlet></router-outlet>

        <button type="button" (click)="clicked($event)" class="btn btn-primary btn-lg btn-block">GO</button>


        <script type="text/javascript">
                // Initialize container when document is loaded
                window.onload = function () {
                    require(['../raphael'], function(Raphael) {
                        var paper = Raphael("myCanvas", 640, 720);
                        paper.circle(100, 100, 100).attr({'fill':'270-#FAE56B:0-#E56B6B:100'}); //example
                    });
                };
                //Work here, in a separate script file or via command line
            </script>
            
            
        <canvas id="myCanvas" width="200" height="200" style="border:1px solid #000000;">
            
        </canvas> 

    </div>
</div>
