<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="container">

        <div class="container col-xs-6 col-sm-6 col-md-3">
            <div class="collapse navbar-collapse ">
                <a href="#" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-floppy-open"></span>  
                </a>
            </div>
       </div>

       <div class="container col-xs-6 col-sm-6 col-md-3">
            <div class="collapse navbar-collapse ">
                <a href="#" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus"></span>  
                </a>
            </div>
       </div>

       <div class="container col-xs-6 col-sm-6 col-md-3">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <li><a href="#">sch1</a></li>
            <li><a href="#">pcb1</a></li>
        </ul>
      </div>

  </div>

</div>

