<div id='mainpage' class='container'>

       <router-outlet></router-outlet>

    <div id='containerTop' class=' layoutcontainer'>
           <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <globaltool-menu></globaltool-menu>
          </div>
    </div>

     <div id='containerMiddle'  class=' layoutcontainer'>

        <div id='contentContMain' class="col-md-10 no-float">
                   <designview></designview>
        </div>
            
        <div id='contentContTool'  class="col-md-2 no-float">

        </div>
           
    </div>
 
     <div id='containerBottom'  class=' layoutcontainer'>
           <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <designtool-menu></designtool-menu>
          </div>
       
    </div>
</div>
